<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<title>Sin título</title>
<!--Adobe Edge Runtime-->
    <script type="text/javascript" charset="utf-8" src="QUIENES%20SOMOS2_edgePreload.js"></script>
    <style>
        .edgeLoad-EDGE-38250192 { visibility:hidden; }
    </style>
<!--Adobe Edge Runtime End-->

</head>
<body style="margin:0;padding:0;">
	<div id="Stage" class="EDGE-38250192">
	
        <div id="Stage_fondo1" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage__05" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_col1" class="edgeLoad-EDGE-38250192">
            <div id="Stage_col1_Text4"> ¡¡IDEAS DE ALTO IMPACTO!!</div>
            <div id="Stage_col1_Text3">XERO ES UNA AGENCIA INTEGRA ESPECIALIZADA  EN GENERAR<br></div>
        </div>
        <div id="Stage_doctor" class="edgeLoad-EDGE-38250192">
            <div id="Stage_doctor_mano"></div>
            <div id="Stage_doctor_nariz"></div>
            <div id="Stage_doctor_doctor"></div>
        </div>
        <div id="Stage_Text6" class="edgeLoad-EDGE-38250192">NOS CANSAMOS DE LAS IDEAS</div>
        <div id="Stage_Text9" class="edgeLoad-EDGE-38250192">Y POR ESO DECIDIMOS CREAR:</div>
        <div id="Stage_Text7" class="edgeLoad-EDGE-38250192">TIPICAS</div>
        <div id="Stage_Text8" class="edgeLoad-EDGE-38250192">ANTICUADAS</div>
        <div id="Stage_anticuadas" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_logo" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_Text11" class="edgeLoad-EDGE-38250192">CONOCE EL PUNTO XERO, UN PUNTO DONDE  LA REALIDAD Y LA CREATIVIDAD SE UNEN</div>
        <div id="Stage_convencional" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_MAL" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_feniall-07" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_boom-022" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_boom-01" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_genial" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_slide-01" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_slide-04" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_slide-05" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_Text10" class="edgeLoad-EDGE-38250192">¡IDEAS GENIALES!</div>
        <div id="Stage_Text3" class="edgeLoad-EDGE-38250192">HAZ DE TU IMAGEN EMPRESARIAL UNA MARCA ÚNICA, UNA MARCA SÓLIDA.</div>
        <div id="Stage_Text4" class="edgeLoad-EDGE-38250192">UNA MARCA XERO.</div>
        <div id="Stage_Text5" class="edgeLoad-EDGE-38250192">DISEÑO Y DESARROLLO WEB</div>
        <div id="Stage_Text5Copy" class="edgeLoad-EDGE-38250192">DISEÑO E IMPRESIÓN</div>
        <div id="Stage_Text5Copy2" class="edgeLoad-EDGE-38250192">FOTOGRAFIA</div>
        <div id="Stage_Text5Copy3" class="edgeLoad-EDGE-38250192">ACTIVACIÓN DE MARCAS</div>
        <div id="Stage_Text5Copy4" class="edgeLoad-EDGE-38250192">CREACIÓN DE CONTENIDO PARA LA WEB</div>
        <div id="Stage_logof" class="edgeLoad-EDGE-38250192">
            <div id="Stage_logof_repetir-02"></div>
        </div>
        <div id="Stage_Text" class="edgeLoad-EDGE-38250192">¡¡BIENVENIDOS AL MUNDO DE LAS IDEAS!!</div>
        <div id="Stage_repetir-03" class="edgeLoad-EDGE-38250192"></div>
        <div id="Stage_play" class="edgeLoad-EDGE-38250192">
            <div id="Stage_play_Text2">¿QUE ES XERO?</div>
            <div id="Stage_play_Text">REPRODUCIR</div>
            <div id="Stage_play_play-022"></div>
            <div id="Stage_play_play-013"></div>
        </div>
    </div>
</body>
</html>